<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Path:</strong>
  <%= @video.path %>
  <%= video_tag(@video.path, controls: true, autobuffer: false, size: '500x281') %>
</p>

<p>
  <strong>Access count:</strong>
  <%= @video.access_count %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
